<!DOCTYPE html>
<html>
<head>
	<title>Printing Name</title>
	<style type="text/css">
		h5
		{
			font-size: 50px;
			font-family: arial;
			background-color: red;
			color: blue;
			text-align: center;
		}
		#ty
		{
			background-color: green;
			color: white;
		}
		.dr
		{
			background-color: blue;
			color: red;
		}
	</style>
</head>
<body>
<h3>This is Your name entered in url <span style="font-size: 45px;color:green">{{na}}</span></h3>
<h5 id="ty">{{na}}</h5>
<h5 class="dr">This is heading-5</h5>
<h5 class="dr"> content </h5>
<h3 class="dr"> This is rupesh kumar</h3>
</body>
</html>