<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Registration Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style type="text/css">
  	.jumbotron
  	{
  		background-color: blue;
  	}
  	#wl
  	{
  		background-color: green;
  	}
  </style>
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="margin-top:50px;">
			<h1> This is sample </h1>	
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron" id="wl">
					<h2>Welcome</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="jumbotron" style="background-color: yellow">
					<h2>To Django Session</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<h4>Small Example using 3 Divisions </h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<h4>Small Example</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<h4>Welcome</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>